---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  Execute ad-hoc Claude queries without file management
---

# {{.Name}} ({{.Type}})

Execute ad-hoc Claude queries without file management.

{{ .SchemaMarkdown | trimspace }}
